

​.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}

p {
    font-family: "Arial", Arial, sans-serif;
}
p.thick {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: "Arial", Arial, sans-serif;
}

h2 {
    text-align: center;
    font-family: "Arial", Arial, sans-serif;
    font-size: 16px;
    border: 1.5px solid black;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 800px;

  /* To see the limits of the form */
  padding: 1em;
  border: 2px solid #CCC;
  border-radius: 1em;
  border-color: white;
}

div + div {
  margin-top: 1em;
}

div.end {
    border: 1.5px solid black;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align: right;
  font-family: "Arial", Arial, sans-serif;
}

criterialabel {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 650px;
  text-align: left;
    font-family: "Arial", Arial, sans-serif;
        text-decoration: underline;
}

subcriterialabel {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 650px;
  text-align: left;
  text-indent:30px;
  font-family: "Arial", Arial, sans-serif;

}

endlabel {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 650px;
  text-align: center;
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 600px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
    text-align: center;
}

.hidden {
    display: none;
}

.show{
display:block;
}